@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

                                                    /* Utils */

/* Variables */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$logo_titles-fontfamily: 'Shrikhand', cursive;
$text-fontfamily: 'Roboto', sans serif;
$btn-color: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
$lighten-btn: linear-gradient(180deg, rgba(255, 121, 218, 0.85) 0%, rgba(146, 86, 220, 0.85) 100%);


/* Maps */
$breakpoints: (
    mobile: 599px,
    tablet: 992px,
);

$font-family: (
    title: $logo_titles-fontfamily,
    text: $text-fontfamily
);

$links-state: (
    link: (
        txt: #ffffff,
        text-decoration: none,
    ),
    visited: (
        txt: $primary-color,
        text-decoration: none),
    focus: (
        txt: $tertiary-color,
        text-decoration: none),
    hover: (
            txt:#0000ff,
            text-decoration: none),
    active: (
            txt:$secondary-color,
            text-decoration: none),
);

$btn-state: (
    focus: (
        background: $lighten-btn,
        box-shadow: rgba(0, 0, 0, 1) 0px 3px 10px 0px),
    hover: (
        background: $lighten-btn,
        box-shadow: rgba(0, 0, 0, 1) 0px 3px 10px 0px),
    active: (
        background: $lighten-btn,
        box-shadow: rgba(0, 0, 0, 1) 0px 3px 10px 0px),
);

/* Mixins */
@mixin mobile {
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin links-state ($maps){
    @each $state, $val in $maps {
        &:#{$state}{
            color: map-get($val, txt);
        }
    }
}

@mixin btn-state ($maps){
    @each $state, $val in $maps {
        &:#{$state}{
            background: map-get($val, background);
            box-shadow: map-get($val, box-shadow)
        }
    }
}


                                                    /* Base */
html {
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: $text-fontfamily;
}

* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    @include links-state($links-state);
    cursor: pointer;
}
p, span{
    margin: inherit;
}

                                                    /* Components */
.btn{
    cursor: pointer;
    border:none;
    background: $btn-color;
    color: #F2F2F2;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px 0px;
    &:hover{
        animation: lighten-btn 0.25s ease-in-out both;   
    }
    &:active{
        animation: lighten-btn 0.25s ease-in-out forwards;
    }   
}

@keyframes lighten-btn{
    from{
        background: $btn-color;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px 0px;
    }
    to{
        background: $lighten-btn;
        box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px 1px;;
    }
}

.like_btn{
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    border: none;
    text-align: center;
    position: relative;
    z-index: 0;
        &:hover, :active {
            i {
                opacity: 0;
                transition: opacity 0.75s ease-in-out;
            }
            .like_btn--on {
                opacity: 1;
                transition: opacity 0.75s ease-in-out;
            }
        }
    &--on {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        width: fit-content;
        height: fit-content;
        margin: auto;
        text-align: center;
        color: $primary-color;
        opacity: 0;
    }
}

/* Loading spinner */
.loader{
    position: absolute;
    z-index: 90;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    animation: loader-block 2s ease-in forwards;
    opacity: 0.9;
    transform-origin: top;
    &__bar1{
        position: absolute;
        z-index: 97;
        left: 1%;
        top: 0;
        width: 33%;
        height: 3%;
        background-color: $primary-color;
        border-radius: 15px 0 0 15px;
        transform-origin: left;
        animation: load-barsX 0.5s ease-in 0s 1 normal both;
    }
    &__bar2{
        position: absolute;
        z-index: 96;
        left: 33%;
        top: 0;
        width: 33%;
        height: 3%;
        background-color: $secondary-color;
        transform-origin: left;
        animation: load-barsX 0.5s linear 0.4s 1 normal both;
    }
    &__bar3{
        position: absolute;
        z-index: 95;
        left: 66%;
        top: 0;
        width: 33%;
        height: 3%;
        background-color: $tertiary-color;
        border-radius: 0 15px 15px 0 ;
        transform-origin: left;
        animation: load-barsX 0.5s ease-out 0.8s 1 normal both;
    }
    &__bar4{
        position: absolute;
        z-index: 97;
        right: 1%;
        bottom: 0;
        width: 33%;
        height: 3%;
        background-color: $primary-color;
        border-radius: 0 15px 15px 0 ;
        transform-origin: right;
        animation: load-barsX 0.5s ease-in 0s 1 normal both;
    }
    &__bar5{
        position: absolute;
        z-index: 96;
        right: 33%;
        bottom: 0;
        width: 33%;
        height: 3%;
        background-color: $secondary-color;
        transform-origin: right;
        animation: load-barsX 0.5s linear 0.4s 1 normal both;
    }
    &__bar6{
        position: absolute;
        z-index: 95;
        right: 66%;
        bottom: 0;
        width: 33%;
        height: 3%;
        background-color: $tertiary-color;
        border-radius: 15px 0 0 15px;
        transform-origin: right;
        animation: load-barsX 0.5s ease-out 0.8s 1 normal both;
    }
    .load-pic{
        width: 70%;
        height: 70%;
        position: relative;
        z-index: 99;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin: 10% 15% 20% 15%;
        opacity: 1;
        animation: loading-anim 1s ease-in 2 normal both;
    }
}

@keyframes loader-block {
    0% {
        transform: scale(0);
    }
    1% {
        transform: scale(1);
    }
    99% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes loading-anim {
    0% {
        transform: rotatez(0deg) scale(0);
    }
    10% {
        transform: rotatez(90deg) scale(0.5);
    }
    20% {
        transform: rotatez(180deg) scale(1);
    }
    30% {
        transform: rotatez(270deg);
    }
    40% {
        transform: rotatez(360deg);
    }
    50% {
        transform: rotatez(0deg);
    }
    60% {
        transform: rotatez(0deg);
    }
    70% {
        transform: rotatez(90deg);
    }
    80% {
        transform: rotatez(180deg);
    }
    90% {
        transform: rotatez(270deg) scale(0.5);
    }
    100%{
        transform: rotatez(360deg) scale(0);
    }
}
@keyframes load-barsX {
    0% {
        transform: scaleX(0) scaleY(1);
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}
@keyframes load-barsY {
    0% {
        transform: scaleX(1) scaleY(0);
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}


                                                    /* Layouts */
/* Header */
.heading{
    display: flex;
    width: 100%;
    height: 150px;
    &__logo{
        width: fit-content;
        height: fit-content;
        font-family: map-get($font-family, title);
        font-size: 72px;
        text-align: center;
        margin: auto;
        font-weight: normal;
    }
    @include mobile {
        height: 70px;
        &__logo {
            width: 190px;
            height: 44px;
            font-size: 2.2rem;
        }
    }
    @include tablet {
        height: 100px;
        &__logo {
            width: fit-content;
            height: fit-content;
            font-size: 48px;
        }
    }
}

/* Footer */
.foot{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.75);
    &__logo{
        width: fit-content;
        display: flex;
        margin: auto 5% auto 5%;
        font-family: map-get($font-family, title);
        font-size: 28px;
        color: #ffffff;
        font-weight: normal;
    }
    &__footlist{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        list-style: none;
        padding-left: inherit;
        font-size: 20px;
        & .footlist__link{
            width: 23%;
            text-align: left;
            & a i {
                margin-right: 10px;
            }
        }
    }
    @include mobile {
        height: 180px;
        flex-direction: column;
        justify-content: center;
        &__logo{
            width: 100px;
            height: 20px;
            font-size: 22px;
            margin-left: 20px;
        }
        &__footlist{
            display: flex;
            flex-direction: column;
            font-size: 18px;
            margin-left: 20px;
            & .footlist__link{
                width: 100%;
                text-align: inherit;
                a {
                    & .footerlogo1{
                        width: 15px;
                        height: 18px;
                        margin-right: 10px;
                        font-size: 17px;
                    }
                    & .footerlogo2{
                        width: 15px;
                        height: 18px;
                        margin-right: 10px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    @include tablet {
        height: 120px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__logo{
            width: fit-content;
            display: flex;
            margin: auto auto 0 auto;
            font-family: map-get($font-family, title);
            font-size: 28px;
            color: #ffffff;
            font-weight: normal;
        }
        &__footlist{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: auto;
            list-style: none;
            padding-left: inherit;
            font-size: 18px;
            & .footlist__link{
                width: fit-content;
                text-align: center;
                & a i {
                    margin-right: 10px;
                }
            }
        }
    }
}

                                                    /* Pages */
/* Location */

.location{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: #E5E5E5;
    .locbox{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        width: 388px;
        height: 34px;
        & #locbox__userlocation {
            height: 34px;
            font-family: $text-fontfamily;
            font-size: 26px;
            background: #E5E5E5;
            border: none;
        }
        &__item {
            width: 34px;
            height: 34px;
            text-align: center;
            i{
                font-size: 26px;
            }
        }
    }
    @include mobile{
        height: 60px;
        .locbox{
            width: 190px;
            height: 25px;
            & #locbox__userlocation {
                width: 165px;
                font-size: 16px;
                padding-left: 8px;
            }
            &__item {
                width: 25px;
                height: 25px;
                i{
                    font-size: 20px;
                }
            }
        }
    }
    @include tablet {
        height: 70px;
        .locbox{
            width: 280px;
            height: 35px;
            & #locbox__userlocation {
                width: 255px;;
                height: 35px;
                font-size: 25px;
                padding-left: 12px;
            }
            &__item {
                width: 25px;
                height: 35px;
                i{
                    font-size: 25px;
                }
            }
        }
    }
}

/* Summary */

.summary{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 250px;
    background: #F2F2F2;
    &__text{
        width: 60%;
        text-align: justify;
        margin: auto;
        > .p1{
            width: 100%;
            font-size: 36px;
            font-weight: bold;
            margin: 10px auto 10px auto;
        }
        > .p2{
            width: 100%;
            font-size: 32px;
            margin: 10px auto 10px auto;
        }
    }
    &__btn{
        margin:auto ;
        width: 25%;
        height: 65px;
        border-radius: 32.5px;
        font-size: 20px;
    }
    @include mobile {
        flex-direction: column;
        height: 280px;
        &__text{
            width: 100%;
            text-align: center;
            margin-bottom: 0;
            > .p1{
                margin: 2px auto 2px auto;
                width: 260px;
                height: 70px;
                font-size: 26px;
            }
            > .p2{
                margin: 2px auto 2px auto;
                width: 320px;
                height: 60px;
                font-size: 18px;
                }
            }
        &__btn{
            margin: 0 0 auto 0;
            width: 230px;
            height: 55px;
            border-radius: 27.5px;
            font-size: 16px;
        }
    }
    @include tablet {
        flex-direction: column;
        height: 280px;
        &__text{
            width: 100%;
            text-align: center;
            margin-bottom: 0;
            > .p1{
                margin: 2px auto 10px auto;
                width: 75%;
                height: fit-content;
                font-size: 32px;
            }
            > .p2{
                margin: 10px auto 10px auto;
                width: 75%;
                height: fit-content;
                font-size: 28px;
                }
            }
        &__btn{
            margin: 10px 0 auto 0;
            width: 230px;
            height: 55px;
            border-radius: 27.5px;
            font-size: 16px;
        }
    }
}

/* Functioning */

.functioning{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 250px;
    &__head{
        width: 92%;
        font-size: 36px;
        font-weight: bold;
        align-self: flex-start;
        margin: auto auto 15px auto;
    }
    @include mobile{
    height: 440px;
    justify-content: space-around;
    align-items: center;
        &__head{
            width: 90%;
            font-size: 26px;
            margin: 20px auto 2% auto;
        }
    }
    @include tablet {
        height: 450px;
        &__head{
            font-size: 32px;
            font-weight: bold;
            align-self: flex-start;
            margin: auto auto 15px auto;
        }
    }
}
.functioningbox{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 92%;
    height: 100px;
    margin: auto;
    &__content{
        display: flex;
        align-items: center;
        width: 27%;
        min-width: 285px;
        height: 70px;
        background: #F2F2F2;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px 0px;
        margin: auto 0 auto 0;
        > .f1{
            display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 35px;
            height: 35px;
            left: -4.5%;
            margin: auto;
            font-size: 16px;
            background: $primary-color;
            border-radius: 50%;
            color: white;
        }
        > i{
            width: fit-content;
            font-size: 22px;
            margin: auto;
        }
        > .f2{
            width: 80%;
            display: inline-block;
            margin: auto;
            font-size: 115%;
            font-weight: bold;
            padding-left: 5px;
        }
        &--colored{
            background: lighten($primary-color, 35);
            > i{
                color: $primary-color;
            }
        }
    }
    @include mobile{
        flex-direction: column;
        justify-content: space-between;
        align-items:flex-end;
        width: 90%;
        height: 70%;
        margin-top: 2%;
        &__content{
            display: flex;
            align-items: center;
            width: 97%;
            height: 30%;
            background: #F2F2F2;
            border-radius: 30px;
            margin: 10px auto 10px auto;
            > .f1{
                display: inline-block;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 9%;
                height: 38%;
                left: -4.5%;
                margin: auto;
                font-size: 16px;
                background: $primary-color;
                border-radius: 50%;
                color: white;
            }
            > i{
                width: 10%;
                font-size: 22px;
                margin: auto;
            }
            > .f2{
                width: 80%;
                display: inline-block;
                margin: auto;
                font-size: 18px;
                font-weight: bold;
                padding-left: 10px;
            }
            &--colored{
                background: lighten($primary-color, 35);
                > i{
                    color: $primary-color;
                }
            }
        }
    }
    @include tablet {
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: 300px;
        margin-top: 2%;
        &__content{
            display: flex;
            align-items: center;
            width: 50%;
            height: 90px;
            background: #F2F2F2;
            border-radius: 30px;
            margin: 10px auto 10px auto;
            > .f1{
                display: inline-block;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 12%;
                height: 40px;
                left: -4.5%;
                margin: auto;
                font-size: 18px;
                background: $primary-color;
                border-radius: 50%;
                color: white;
            }
            > i{
                width: 10%;
                font-size: 24px;
                margin: auto;
            }
            > .f2{
                width: 80%;
                display: inline-block;
                margin: auto;
                font-size: 20px;
                font-weight: bold;
                padding-left: 10px;
            }
            &--colored{
                background: lighten($primary-color, 35);
                > i{
                    color: $primary-color;
                }
            }
        }
        .fc1 {
            margin-left: 0%;
        }
        .fc2{
            margin-left: 25%;
        }
        .fc3{
            margin-left: 50%;
        }
    }
}

/* Choice */

.choice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 450px;
    background: #F2F2F2;
    padding: 0 4% 0 4%;
    &__head{
        width: 92%;
        font-size: 36px;
        font-weight: bold;
        align-self: flex-start;
        margin: 25px 0 15px 0;
    }
    @include mobile{
    height: 1400px;
    padding: inherit;
    padding: 0 0 10% 0;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
        &__head{
            width: 90%;
            font-size: 26px;
            margin: 20px auto 2% auto;
        }
    }
    @include tablet {
        height: 850px;
        padding: inherit;
        padding: 0 0 10% 0;
        flex-direction: row;
        justify-content: space-evenly;
            &__head{
                width: 92%;
                font-size: 32px;
                margin: 20px auto 2% auto;
            }
        }
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    height: 250px;
    background: #ffffff;
    border: none;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px 0px;
    border-radius: 20px;
    margin-bottom: 30px;
    &__pic{
        position: relative;
        width: 100%;
        height: 75%;
        .placeimage{
            object-fit: cover;
            z-index: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px 20px 0 0;
        }
        .new{
            position:absolute;
            z-index: 1;
            width: 75px;
            height: 25px;
            background: $tertiary-color;
            font-size: 14px;
            text-align: center;
            color: darken($tertiary-color, 40%);
            top: 5%;
            right: 4%;
        }
    }
    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 25%;
        color: black;
        background: white;
        div{
            > .cp1{
                font-size: 16px;
                font-weight: bold;
                margin: 2px 0 2px 0;
                
            }
            > .cp2{
                font-size: 16px;
                margin: 2px 0 2px 0;
            }
        }
        .like_btn{
            font-size: 20px;
            background: #ffffff;
            &--on {
                font-size: 20px;
                background: #ffffff;
            }
        }
    }
    @include mobile {
        width: 90%;
        height: 300px;
        margin-bottom: inherit;
        margin: 2% auto 2% auto;
        border-radius: 20px;
    }
    @include tablet {
        width: 45%;
        height: 300px;
        margin-bottom: inherit;
        margin: 2% auto 2% auto;
        border-radius: 20px;
    }
}



